/* Elements */

html,
body {
    height: 100%;
    font-family: Gill Sans / Gill Sans MT, sans-serif;
}

/* Responsive */

@media (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
        margin-right: 0;
    }
    .navbar-header {
        float:none;
    }
    
}

@media (max-width: 767px) {
    
    a {
        line-height: 32px;
    }
    
    #blessing {
        width: 260px;
        height: 180px; 
    }
}

@media (min-width: 768px) {
    
    #blessing {
        width: 320px;
        height: 240px; 
    }
}

/* Custom Bootstrap */

.col-md-2 {
    padding: 0;
}

.btn-labeled {
    padding-top: 0;
    padding-bottom: 0;
}
.btn-label {
    position: relative;
    background: rgba(0, 0, 0, .15);
    display: inline-block;
    padding: 8px 8px;
    left: -14px;
    border-radius: 3px 0 0 3px;
    margin: -2px;
}
.btn-label.btn-label-right {
    left: auto;
    right: -14px;
    border-radius: 0 3px 3px 0;
}
.btn-lg .btn-label {
    padding: 10px 18px;
    left: -18px;
    border-radius: 5px 0 0 5px;
}
.btn-lg .btn-label.btn-label-right {
    left: auto;
    right: -18px;
    border-radius: 0 5px 5px 0;
}
.btn-sm .btn-label {
    padding: 5px 12px;
    left: -12px;
    border-radius: 2px 0 0 2px;
}
.btn-sm .btn-label.btn-label-right {
    left: auto;
    right: -12px;
    border-radius: 0 2px 2px 0;
}
.btn-xs .btn-label {
    padding: 1px 5px;
    left: -5px;
    border-radius: 2px 0 0 2px;
}
.btn-xs .btn-label.btn-label-right {
    left: auto;
    right: -5px;
    border-radius: 0 2px 2px 0;
}

/* Navigation Bar */

.navbar-header {
    padding-right: 25px;
}

#navbar-logo a {
    color: #fff;
    font-size: 1.2em;
    padding-top: 5px;
}

#navbar-logo a:hover {
    text-decoration: none;
}

#navbar-logo img {
    margin: 4px;   
}

.nav-icons {
    padding-right: 8px;
}

/* Content */

.content a {
    text-decoration: underline;
}

.breadcrumb a {
    text-decoration: none;
}

.marginTop {
    margin-top: 150px;
}

.center-text {
    text-align:center;
}

.center-object {  
    
    margin-left: auto;
    margin-right: auto;
}

.center-inline {
    display: block;
    text-align:center;  
}

.breadcrumb {
    margin-top: 20px
}

.info-link {
    font-size: 0.4em;
}

.content .glyphicon-info-sign {
    color: #18bc9c;
}

.rankings-button-div {
    width:auto;
}

.rankings-class-list {
    margin:0;
    padding-left: 10px;
    list-style-type: none;
}

.rankings-class-list-img {
    margin-right: 5px;
}

.row-rankings {
    margin: 5px 20px;
}

.event-title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0px;
    margin: 0 auto;
}

.progress {
    height: 20px;
    margin: 5px 0;
}

.blessing-current {
    font-size: 1.2em;
    margin: 0;
}

.countdown {
    text-align: center;
}

.countdown p {
    display: inline-block;
    padding: 0 2px;
}

.character-list {
    float: left;
}

.panel-rankings a {
    margin: 5px;
    text-decoration: none;
}

.panel-rankings a:hover {
    text-decoration: underline;
}

.search-box {
    padding-top: 15px;
}

.search-list {
    padding-left: 0;
    list-style: none;
    font-size: 1.5em;
}

.search-list li:after, .search-list li:before {
    content: " ";
    display: table;
}
.search-list li:after {
    clear: both;
}

#profile-character-name {
    display:inline-block;
    margin-right: 5px;
}

#profile-character-title {
    display:inline-block;
}

#profile-break {
    margin-top: 0;
}

.profile-list {
    padding-left: 0;
    list-style: none;
}

.profile-list li:after, .profile-list li:before {
    content: " ";
    display: table;
}
.profile-list li:after {
    clear: both;
}

.profile-list-label {
    float: left;
    font-weight: bold;    
}

.profile-list-value {
    float: right;   
}

.profile-list-header {
    text-decoration: underline;
    font-weight: bold;
    text-align: right;
    padding: 0;
    margin: 0;
}

#legend {
    background-image: url("/assets/img/profile/legend-background.png");
    background-color: #FFD39C;    
    border-radius: 10px;
    margin: 0 20px 20px 20px;
    font-family: ‘Lucida Console’, Monaco, monospace;
}

#legend ul {
    padding: 10px;
}

#legend li {
    list-style-type: none;
}

.icon {
    width: 12px;
    margin-right: 5px;
}

.tab-content {
    margin-bottom: 20px;
}

.block-title {
    margin: 0;
    padding-bottom: 10px;
}

.about-block-centered {
    vertical-align:middle;
    text-align:center;
    width: 100px;
    margin: auto;
}

.panel-title {
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}

.panel-icon {
    padding-left: 5px;
    color: #FFF;
}

.clan-list {
    padding-left: 0;
    list-style: none;
}

.clan-list li:after, .clan-list li:before {
    content: " ";
    display: table;
}
.clan-list li:after {
    clear: both;
}

.tab-content {
    border-left: 1px solid #ECF0F1;
    border-right: 1px solid #ECF0F1;
    border-bottom: 1px solid #ECF0F1;
    padding-top: 15px;
}

.tab-content #history {
    padding: 0 10px;
}

.tab-content > .tab-pane {
    padding: 10px 30px;
}

.fa-mars {
    color: #89CFF0;
}

.fa-venus {
    color: #F4C2C2;   
}

.profile-header-top {
    margin-top: 0;
    padding-top: 0;
}

.statbox
{
    margin: 0 auto 20px auto;
    width: 211px;
    height:133px;
    background-image:url('/assets/img/stats/statbox.png');
}

.statbox img { 
    vertical-align: top;
}

.statbox > .vita
{
    padding:0;
    margin:0;
    position:relative;
    left:65px;
    top: 35px;
    width: 122px;
    height: 14px;
    text-align:right;
}

.statbox > .mana
{
    padding:0;
    position:relative;
    left:65px;
    top: 40px;
    width: 122px;
    height: 14px;
    text-align:right;
}

.statbox > .gold
{
    padding:0;
    position:relative;
    left:65px;
    top: 45px;
    width: 122px;
    height: 14px;
    text-align:right;
}

.statbox > .exp
{
    padding:0;
    position:relative;
    left:65px;
    top: 50px;
    width: 122px;
    height: 14px;
    text-align:right;
}

.statbox > .stats
{
    position:relative;
    left: 30px;
    top: 56px;
    width: 100%;
    height: 14px;
}

.statbox .might
{
    display:inline-block;
    margin-right:16px;
    width: 38px;
    height: 10px;
    text-align:center;
}

.statbox .grace
{
    display:inline-block;
    margin-right:16px;
    width: 38px;
    height: 10px;
    text-align:center;
}
.statbox  .will
{
    display:inline-block;
    width: 38px;
    height: 10px;
    text-align:center;
}


/* Legend Colours */

.legend-color-128 {
    color: #080408;
}

.legend-color1 {
    color: #0000AD;
}

.legend-color2 {
    color: #00AA00;
}

.legend-color3 {
    color: #00AAAD;
}

.legend-color4 {
    color: #AD0000;
}

.legend-color9 {
    color: #5255FF;
}

.legend-color13 {
    color: #FF55FF;
}

.legend-color14 {
    color: #FFFF52;
}

.legend-color15 {
    color: #FFFFFF;
}

.legend-color39 {
    color: #FFFFB5;
}

.legend-color44 {
    color: #B52C00;
}

.legend-color45 {
    color: #CE3400;
}

.legend-color52 {
    color: #5A8239;
}

.legend-color60 {
    color: #216D4A;
}

.legend-color64 {
    color: #000021;
}

.legend-color69 {
    color: #7B92BD;
}

.legend-color71 {
    color: #E7EFF7;
}